.sfb
    opacity 0
    &.animated
        anim(easeInBottom, 1s)

.sfl
    opacity 0
    &.animated
        anim(easeInLeft, 2s)

.sft
    opacity 0
    &.animated
        anim(easeInTop, 1s)

.animated-list
    .animated-item, li
        opacity 0
        &.animate
            anim(easeInBottom, 2s)