@keyframes bounce {
    0%{
        transform: rotate(180deg) translateX(50%) translateY(0px)
    }
    50%{
        transform: rotate(180deg) translateX(50%) translateY(20px)
    }
    100%{
        transform: rotate(180deg) translateX(50%) translateY(0px)
    }
}

@keyframes easeInLeft {
    0%{
        transform: translateX(-600px)
        opacity: 0
        }
    100%{
        transform: translateX(0px)
        opacity: 1
        }
    }

@keyframes easeInBottom {
    0%{
        transform: translateY(300px)
        opacity: 0
        }
    100%{
        transform: translateY(0px)
        opacity: 1
        }
    }

@keyframes easeInTop{
    0%{
        transform: translateY(-300px)
        opacity: 0
        }
    100%{
        transform: translateY(0px)
        opacity: 1
        }
    }