center()
    display flex
    justify-content center
    align-items center

square(n)
    height n 
    width n

round(n)
    height n 
    width n
    border-radius n

anim(n, s)
    animation-name: n 
    animation-duration s 
    animation-fill-mode: both
    animation-timing-function: cubic-bezier(0.31, 0.12, 0.25, 1)
    opacity 1